.heart {
    position: fixed;
    left: 100px;
    top: 100px;
    width: 10%;
    transition: .6s ease-out;
}

.btnClickMe {
    position: absolute;
    left: calc(50% - 80px);
    top: calc(50% - 30px);
    z-index: 100;
}
